{% comment %} {% extends 'base.html' %}
{% load static %}

{% block content %}
    
    <form id="login-form" method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" autocomplete="username">
        <input type="password" name="password" placeholder="Password" autocomplete="current-password">

        <button type="submit">Login</button>
    </form>

    <!-- Inclure jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            // Gère la soumission du formulaire de connexion
            $('#login-form').submit(function(event) {
                event.preventDefault(); // Empêche le comportement par défaut du formulaire
                
                var formData = $(this).serialize();

                // Effectue une requête AJAX pour soumettre le formulaire
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: formData,
                    success: function(response) {
                        console.log('Response received:', response);
                        // Récupérez les données "username" et "password" de la réponse JSON
                        var username = response.username;
                        var password = response.password;
                        // Utilisez ces données comme nécessaire
                    },
                    error: function(xhr, errmsg, err) {
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
        });

    </script>

{% endblock %} {% endcomment %}







{% comment %} {% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Login</h2>
    <form id="login-form" method="post" action="{% url 'login' %}">

        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>

    <!-- Inclure jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        $(document).ready(function() {
            // Gère la soumission du formulaire de connexion
            $('#login-form').submit(function(event) {
                event.preventDefault(); // Empêche le comportement par défaut du formulaire
                
                // Effectue une requête AJAX pour soumettre le formulaire
                $.ajax({
                    type: $(this).attr('method'),
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function(response) {
                        console.log('Response received:', response); // Affiche la réponse dans la console
                        // Vérifie si la connexion est réussie en examinant la réponse
                        if (response.success) {
                            // Si la connexion est réussie, redirige vers la page d'accueil
                            
                            window.location.href = "{% url 'home' %}";
                            console.log('connexion', true);
                        } else {
                            // Si la connexion échoue, affiche un message d'erreur
                            alert(response.message);
                            console.log('connexion', false);
                        }
                    },
                    error: function(xhr, errmsg, err) {
                        // Gère les erreurs de connexion (affiche un message d'erreur par exemple)
                        console.log(xhr.status + ": " + xhr.responseText); // Affiche les détails de l'erreur dans la console
                    }
                });
            });
        });

    </script>

{% endblock %} {% endcomment %}
