{% load static %}



    <form id="testimonialForm" method="post" enctype="multipart/form-data">
       {% csrf_token %} 
        {% comment %} {{x}} {% endcomment %}
        {{form}}
        <button type="submit" class="btn btn-primary">Ajouter</button>
    </form>
    <script>
        $(document).ready(function() {
            $('#testimonialForm').submit(function(event) {
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    url: $(this).attr('action'),
                    type: $(this).attr('method'),
                    data: formData,
                    success: function(response) {
                        alert('OH YEAH BG, DATA SAVED SUCCESSFULLY !');
                    },
                    error: function() {
                        alert('Oh noooo, an error occurred while submitting the form :( ');
                    }
                });
            });
        });
    </script>
