{% extends 'base.html' %}
{% load static %}

{% block content %}
    <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
    <header id="header">
        <div class="d-flex flex-column">
            <div class="profile">
                    <img id="profile-img" src="{% static 'profile-img.jpg' %}" alt="" class="img-fluid rounded-circle">
                    <h1 class="text-light" id="username">Bonjour, {{ request.user.username }}</h1>
            </div>

            <nav id="navbar" class="nav-menu navbar">
                <ul>
                    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Accueil</span></a></li>
                    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>À propos</span></a></li>
                    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
                    <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
                    <li><a href="testi/" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Test</span></a></li>

                    <div id="social-links" class="social-links mt-3 text-center">
                        <a href="#hero" class="nav-link scrollto"><i class="bx bx-category"></i> <span>Hero</span></a>
                        <a href="#skills" class="nav-link scrollto"><i class="bx bx-category"></i> <span>Compétences</span></a>
                        <a href="#mailbox" class="nav-link scrollto"><i class="bx bx-category"></i> <span>Boîte aux lettres</span></a>
                    </div>
                    <li>
                        <a href="{% url 'home' %}" id="logout-link">Logout</a>
                    </li>

                </ul>
            </nav>
        </div>
    </header>

    <main id="main">
        <section id="hero" class="d-flex flex-column justify-content-center align-items-center" style="background: url('../img/hero-bg.jpg') top center; background-size: cover;">
            <div class="hero-container" data-aos="fade-in">
                <h1>Alex Smith</h1>
                <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer, Photographer"></span></p>
            </div>
        </section>


        {% include 'about_editable.html' %}



        {% include 'skills_editable.html' %}

        

        {% include 'add_portfolio_item.html' %}



        {% include 'services_editable.html' %}
        <section id="testimonials" class="testimonials section-bg">
            <div class="container">
                <div class="section-title">
                    <h2>Testimonials</h2>
                </div>
                <form id="testimonialForm" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Ajouter</button>
                </form>
            </div>
        </section>

        {% include 'add_testimonial.html' %}

        {% include 'contact.html' %} 

    </main>

    {% include 'footer.html' %}

{% endblock %}

