{% load static %}

{% block content %}
<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h2>Services</h2>
            <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>


        {% comment %} <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
        </form> {% endcomment %}
        
        <form id="servicesForm" method="post">
            {% csrf_token %}
            {{ form.as_p}} 
            
            {% comment %} <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
                    <div class="icon"><i class="bi bi-briefcase"></i></div>
                    <h4 class="title">
                        <input type="text" name="title" placeholder="Titre du service">
                    </h4>
                    <p class="description">
                        <textarea name="description" placeholder="Description du service"></textarea>
                    </p>
                </div>
            </div> {% endcomment %}

                {% comment %} 
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
                    <div class="icon"><i class="bi bi-card-checklist"></i></div>
                    <h4 class="title">
                        <input type="text" name="title" placeholder="Titre du service">
                    </h4>
                    <p class="description">
                        <textarea name="description" placeholder="Description du service"></textarea>
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
                    <div class="icon"><i class="bi bi-bar-chart"></i></div>
                    <h4 class="title">
                        <input type="text" name="title" placeholder="Titre du service">
                    </h4>
                    <p class="description">
                        <textarea name="description" placeholder="Description du service"></textarea>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
                    <div class="icon"><i class="bi bi-binoculars"></i></div>
                    <h4 class="title">
                        <input type="text" name="title" placeholder="Titre du service">
                    </h4>
                    <p class="description">
                        <textarea name="description" placeholder="Description du service"></textarea>
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
                    <div class="icon"><i class="bi bi-brightness-high"></i></div>
                    <h4 class="title">
                        <input type="text" name="title" placeholder="Titre du service">
                    </h4>
                    <p class="description">
                        <textarea name="description" placeholder="Description du service"></textarea>
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
                    <div class="icon"><i class="bi bi-calendar4-week"></i></div>
                    <h4 class="title">
                        <input type="text" name="title" placeholder="Titre du service">
                    </h4>
                    <p class="description">
                        <textarea name="description" placeholder="Description du service"></textarea>
                    </p>
                </div> {% endcomment %}
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </div>
</section>

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $(document).ready(function() {
        $('#servicesForm').submit(function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: formData,
                success: function(response) {
                    alert('Les données ont été enregistrées avec succès !');
                },
                error: function() {
                    alert('Une erreur s\'est produite lors de l\'enregistrement des données.');
                }
            });
        });
    });
</script>
{% endblock %}


{% endblock %}


