{% load static %}

{% block content %}
<section id="testimonials" class="testimonials section-bg">
    <div class="container">
        <div class="section-title">
            <h2>Testimonials</h2>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                {% for testimonial in testimonials %}
                <div class="swiper-slide">
                    <div class="testimonial-item" data-aos="fade-up" data-aos-delay="{{ forloop.counter }}">
                        <p>
                            <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                            {{ testimonial.content }}
                            <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        {% if testimonial.image %}
                        <img src="{{ testimonial.image.url }}" class="testimonial-img" alt="">
                        {% endif %}
                        <h3>{{ testimonial.author }}</h3>
                        <h4>{{ testimonial.designation }}</h4>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
{% endblock %}




